@media all {
    .btn-afat-action {
        margin: 0 0.25rem;
    }

    .fatlink-list-legend {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid rgb(236, 240, 241);
    }

    .template-dark-mode .fatlink-list-legend {
        border-top: 1px solid rgb(70, 69, 69);
    }
}

/* tables
------------------------------------------------------------------------------------- */
@media all {
    .allianceauth-afat .table > tbody > tr > td,
    .allianceauth-afat .table > tbody > tr > th,
    .allianceauth-afat .table > tfoot > tr > td,
    .allianceauth-afat .table > tfoot > tr > th,
    .allianceauth-afat .table > thead > tr > td {
        vertical-align: middle;
    }
}

/* labels
------------------------------------------------------------------------------------- */
@media all {
    .afat-label-via-esi {
        margin-left: 1rem;
        background-color: rgb(192,192,192);
        color: rgb(54,54,54);
    }

    .afat-label-active-esi-fleet {
        background-color: rgb(98, 196, 98);
    }

    .afat-label-statistics {
        position: relative;
        top: 0.2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* DataTables
------------------------------------------------------------------------------------- */
@media all {
    .dataTables_wrapper > .form-inline {
        margin-bottom: 1rem;
    }

    .dataTables_wrapper > .form-inline select {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .dataTables_wrapper > .form-inline select:last-child {
        margin-right: 0;
    }

    .dataTables_length select {
        margin: 0 1rem;
    }
}

@media (min-width: 768px) {
    .dataTables_wrapper > .form-inline select:first-child {
        margin-left: 1rem;
    }
}
