.documentation-taskpane-header-back {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
}

.documentation-taskpane-header-back-and-title {
    /* This container holds the back and title buttons, when there is a back button! */
    display: flex;
}

.documentation-taskpane-header-close {
    font-size: 20px;
    margin-top: 5px;
    margin-right: 5px;
}

.documentation-taskpane-content-function-list-title {
    font-size: 20px;
    text-decoration: underline;
}

.documentation-taskpane-content-function-list-section-title {
    font-size: 20px;
    margin-top: 10px;
    text-decoration: underline;
}

.documentation-taskpane-content-function-list {
    margin-top: 0;
    list-style: none;
    padding-left: 0px;
}

.documentation-taskpane-content-function-list-element {
    font-size: 14px;
    display: flex;
    margin-top: 10px;
}

.documentation-taskpane-content-function-list-icon {
    margin-right: 10px
}

/* So the user knows functions are  clickable! */
.documentation-taskpane-content-function-list-element:hover {
    text-decoration: underline;
}