/* polices */
@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("../fonts/Inter-roman.var.woff2") format("woff2");
}
@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url("../fonts/Inter-italic.var.woff2") format("woff2");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Inter";
    color: var(--dark-grey);
}
h1, h2, h3{
    font-weight: 600;
}
h1 {
    font-size: 32px;
    margin: 20px auto;
}
h2 {
font-size: 28px;
}
h3 {
font-size: 16px;
}
.fw500 {
    font-weight: 500;
}
.text-center {
    text-align: center;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    height: 100vh;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --white: #FFF;
    --green: #65aa04;
    --dark-grey: #1F1F22;
    --grey: #6F6F73;
    --light-grey: #F9F9FA;
}
*,*:before,*:after{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
.d-none {
    display: none!important;
} 
.d-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.d-flex-left {
    justify-content: left;
}
.container{
    width: max-content;
    max-width: 90%;
    position: relative;
    margin: 0 auto;
    padding: 100px 0;
}
.w50 {
    width: 250px;
}
button {
    width: max-content;
    padding: 12px 24px;
    border-radius: 80px;
    font-size: 14px;
    font-weight: 600;
    border: 1px var(--green);
    cursor: pointer;
}
button.green-button {
    background-color: var(--green);
    color: var(--white);
}
button.white-button {
    background-color: var(--white);
    color: var(--green);
}
/* HEADER */
header {
    width: 100%;
    height: 65px;
    background-color: var(--green);
    z-index: 10;
    position: sticky;
}
header .container {
    padding: 0;
    width: 1000px;
    max-width: 90%;
}
header .logo-header {
    padding: 10px;
    background-color: var(--white);
    position: relative;
    height: 65px;
    width: 100px;
}
header .logo-header::after {
    content: "acteurs";
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--green);
    font-size: 10px;
    font-weight: 700;
    padding: 3px;
    border-radius: 3px;
    position: absolute;
    bottom: -9px;
    left: 26px;
}
/* FORMS */
form, label, input {
    display: block;
}
input {
    height: 44px;
    background-color: var(--white);
    width: 500px;
    max-width: 100%;
    border-radius: 8px;
    padding: 8px 16px;
    border: 1px solid var(--grey);
    margin: 8px 0 20px;
}
input[type="submit"]{
    width: max-content;
    padding: 12px 24px;
    border-radius: 80px;
    font-size: 14px;
    font-weight: 600;
    border: 1px var(--green);
    cursor: pointer;
    background-color: var(--green);
    color: var(--white);
}
label {
    margin-top: 40px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: var(--dark-grey);
}
label.required:after {
    content: " *";
}
.helptext,
.helptext a{
    color: var(--grey);
    font-size: 16px;
    line-height: 24px;
}
.errortext,
.errortext a{
    color: red;
    font-size: 16px;
    line-height: 24px;
}
/* TEMPLATES */
#login,
#registration_form,
#password_reset_form {
    display: flex;
    justify-content: center;
}
#registration_form .last-name {
    margin-right: 10px;
}
#password_reset_form .formulaire,
#login .formulaire {
    text-align: center;
}
#login .formulaire form {
    margin-top: 80px;
}
#login .formulaire input {
    margin: 15px auto 25px;
}
#authorize {
    text-align: center;
    margin-top: 80px;
}
#password_reset_form .helptext,
#authorize .helptext {
    margin: 20px 0;
}
#authorize form {
    display: flex;
    justify-content: center;
    margin-top: 50px
}
#password_reset_form .form  {
    width: max-content;
    margin: auto;
}
#authorize input {
    margin: auto 10px;
}
#password_reset_form input {
    margin: 20px auto;
}