[buildout]
develop = .
parts = test
        checker


[test]
recipe = zc.recipe.testrunner
eggs = p01.recipe.setup
       p01.recipe.setup [test]
       p01.recipe.setup [supervisor]
       p01.recipe.setup [paste]
       p01.recipe.setup [i18n]


[checker]
recipe = p01.recipe.setup:importchecker
path = src/p01/recipe/setup
