[buildout]
extends =
    base.cfg

parts +=
    test

show-picked-versions = true

auto-checkout +=

[instance1]
debug-mode = on
verbose-security = on
eggs +=
    plone.reload
#    Products.PDBDebugMode
    Products.DocFinderTab
    aws.zope2zcmldoc
    collective.profiler
    ipdb
    iw.debug

zcml +=
    iw.debug

[test]
recipe = zc.recipe.testrunner
eggs =
    ${buildout:eggs}
    imio.migrator [test]
defaults = ['-s', 'imio.migrator', '--auto-color', '--auto-progress']
