body{
    font-family: monospace;
}
a {
    color: black;
    font-weight: bold;  
}

.app-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #aaa;
}

#dir-context {
    height: 32px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    background-image: url(../img/folder.png);
    background-position: 0px center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding: 16px 0 0 40px;
}

#disk-info {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

div#disk-info>div {
    color: #aaa;
    white-space: nowrap;
    padding-left: 10px;
}

.dir-container {
    display: flex;
    justify-content: space-between;
    height: 24px;
    width: 100%;
    font-size: 12px;
    background-image: url(../img/folder.png);
    background-position: 0px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    padding-top: 4px;
}

.dir {
    padding: 2px 20px 2px 20px;
}

.file-container {
    display: flex;
    justify-content: space-between;
    height: 24px;
    width: 100%;
    font-size: 12px;
    background-image: url(../img/file.png);
    background-position: 8px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    padding-top: 4px;
}

.file, .filesize {
    padding: 2px 20px 2px 0;
    display: inline;
}
.file {
    padding: 2px 20px 2px 28px;
}

.filesize {
    color: gray;
}

.dir-container:hover, .file-container:hover {
    background-color: #eee;
}