.form-row ul.boolean {
    margin-left: 130px;
}

.form-row ul.boolean li {
    float: left;
}

.form-row ul.boolean li label {
    float: none;
    width: auto;
}

.form-row ul.boolean li label input[type=radio] {
    margin-left: 0;
}

.form-row ul.boolean + * {
    clear: both;
}
