.logo {
    padding-top: 4px;
    padding-bottom: 4px;
}

.btn-outline-primary {
    color: #4527a0;
    border-color: #4527a0;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
    color: #fff;
    background-color: #4527a0;
    border-color: #4527a0;
}
