.documentation-box-container {
    background-color: white;

    display: flex;
    flex-direction: column;
    
    padding-bottom: 10px;
    width: 300px;
    color: #343434;
}

.documentation-box-syntax {
    background-color: #F1F1F1;

    padding-top: 10px;
    padding-right: 5px;
    padding-left: 15px;
}

.documentation-box-description {
    background-color: #F1F1F1;
    font-size: 10px;
    color: grey;

    padding-top: 3px;
    padding-right: 5px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.documentation-box-example-header {
    padding-right: 5px;
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.documentation-box-example {
    color: #0081DE;

    padding-right: 5px;
    padding-left: 15px;
    margin-bottom: 5px;
}