
.top-left-popup-container {
    /* Render above other divs */
    z-index: 2;
    position: absolute;

    /* Make it a sidebar on the right side */
    width: 290px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid black;

    /* Add a drop shadow */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /* Place it right inside the upper left corner of the sheet */
    margin-top: 85px;
    margin-left: 5px;

    padding: 5px;
}